body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
 
.todo-container {
    background-color: rgb(137, 135, 132);
    width: 500px;
    margin-top: 30px;
    padding: 20px;
}
 
h2 {
    text-align: center;
    color: white;
}
 
.input-section {
    display: flex;
    margin-bottom: 20px;
}
 
.input-section input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 2px;
}
 
.input-section button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}
 
ul {
    list-style-type: none;
    padding: 0;
}
 
li {
    background-color: #dcdcdc;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
li:nth-child(odd) {
    background-color: #c0d9e9;
}
 
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
 